USE [master]
GO
/****** Object:  Database [VideoRentalDB]    Script Date: 12/12/2018 10:53:03 AM ******/
CREATE DATABASE [VideoRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoRentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoRentalDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/12/2018 10:53:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[LastName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Phone] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 12/12/2018 10:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [varchar](50) NULL,
	[Title] [nvarchar](255) NULL,
	[Year] [nvarchar](255) NULL,
	[Rental_Cost] [int] NULL,
	[Copies] [nvarchar](50) NULL,
	[Plot] [ntext] NULL,
	[Genre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalMovies]    Script Date: 12/12/2018 10:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalMovies](
	[RMID] [int] IDENTITY(1,1) NOT NULL,
	[MovieIDFK] [int] NULL,
	[CustIDFK] [int] NULL,
	[DateRented] [date] NULL,
	[DateReturned] [date] NULL,
	[Rent_Per_Day] [money] NULL,
	[Number_Of_Days] [int] NULL,
	[Total_Charge] [money] NULL,
 CONSTRAINT [PK_RentalMovies] PRIMARY KEY CLUSTERED 
(
	[RMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 12/12/2018 10:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserName] [nchar](50) NOT NULL,
	[Password] [nchar](50) NULL,
	[FullName] [nchar](50) NULL,
	[Age] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustID], [FirstName], [LastName], [Address], [Phone]) VALUES (3, N'Gurdeep', N'Singh', N'5Browns Rd, Manurewa', 978753423)
INSERT [dbo].[Customer] ([CustID], [FirstName], [LastName], [Address], [Phone]) VALUES (10, N'Bikram', N'Singh', N'5Browns Rd, Papakura', 978753423)
INSERT [dbo].[Customer] ([CustID], [FirstName], [LastName], [Address], [Phone]) VALUES (12, N'Vicky', N'Singh', N'10 South Rd, Papatoetoe', 878753424)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [Rating], [Title], [Year], [Rental_Cost], [Copies], [Plot], [Genre]) VALUES (1, N'4.5/5', N'Iron Man', N'2008', 2, N'7', N'After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.', N'Action,Adventure,Sci-Fi')
INSERT [dbo].[Movies] ([MovieID], [Rating], [Title], [Year], [Rental_Cost], [Copies], [Plot], [Genre]) VALUES (3, N'4/5', N'Robot 2.0', N'2018', 5, N'6', N'Scientists help the government investigate a threat beyond understanding.', N' Action, Sci-Fi, Thriller')
INSERT [dbo].[Movies] ([MovieID], [Rating], [Title], [Year], [Rental_Cost], [Copies], [Plot], [Genre]) VALUES (4, N'5/5', N'Spider Man', N'2002', 2, N'5', N'When bitten by a genetically modified spider, a nerdy, shy, and awkward high school student gains spider-like abilities that he eventually must use to fight evil as a superhero after tragedy befalls his family.', N'Action,Adventure,Sci-Fi')
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[RentalMovies] ON 

INSERT [dbo].[RentalMovies] ([RMID], [MovieIDFK], [CustIDFK], [DateRented], [DateReturned], [Rent_Per_Day], [Number_Of_Days], [Total_Charge]) VALUES (16, 3, 3, CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11' AS Date), 5.0000, 0, 5.0000)
INSERT [dbo].[RentalMovies] ([RMID], [MovieIDFK], [CustIDFK], [DateRented], [DateReturned], [Rent_Per_Day], [Number_Of_Days], [Total_Charge]) VALUES (17, 9, 10, CAST(N'2018-11-30' AS Date), CAST(N'1900-01-01' AS Date), NULL, NULL, NULL)
INSERT [dbo].[RentalMovies] ([RMID], [MovieIDFK], [CustIDFK], [DateRented], [DateReturned], [Rent_Per_Day], [Number_Of_Days], [Total_Charge]) VALUES (18, 4, 14, CAST(N'2018-12-11' AS Date), CAST(N'2018-12-11' AS Date), 2.0000, 0, 2.0000)
SET IDENTITY_INSERT [dbo].[RentalMovies] OFF
INSERT [dbo].[UserTable] ([UserName], [Password], [FullName], [Age]) VALUES (N'Bikram                                            ', N'11111                                             ', N'Bikram Singh                                      ', 24)
INSERT [dbo].[UserTable] ([UserName], [Password], [FullName], [Age]) VALUES (N'Peter                                             ', N'55555                                             ', N'Peter Black                                       ', 55)
INSERT [dbo].[UserTable] ([UserName], [Password], [FullName], [Age]) VALUES (N'Rupinder                                          ', N'123456                                            ', N'Rupinder Singh                                    ', 22)
ALTER TABLE [dbo].[RentalMovies]  WITH CHECK ADD  CONSTRAINT [FK_RentalMovies_Customer] FOREIGN KEY([MovieIDFK])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[RentalMovies] CHECK CONSTRAINT [FK_RentalMovies_Customer]
GO
ALTER TABLE [dbo].[RentalMovies]  WITH CHECK ADD  CONSTRAINT [FK_RentalMovies_Movies] FOREIGN KEY([MovieIDFK])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[RentalMovies] CHECK CONSTRAINT [FK_RentalMovies_Movies]
GO
USE [master]
GO
